
@font-face {
    font-family: myFirstFont;
    src: url('TheSansPlain.ttf') format("truetype");
}
body { 
    font-family: myFirstFont, Verdana, Tahoma;
}

h1.login, h2.login {
    text-align: center;
    color: white;
    margin-top: 40px;
    font-size: 45px;
}

body.login {
    background-color: #7fb0cd;
}
