@font-face {
    font-family: myFirstFont;
    src: url('/Resources/TheSansPlain.ttf') format("truetype")
}

body {
    font-family: myFirstFont, Verdana, Tahoma;

    /*background-color: #7fb0cd*/
   
}

h1.login, h2.login, h2.title {
    /*color: white;*/
    color: #1E1656;
    margin-bottom: 50px;
    font-size: 60px;
    text-align: center
}

.input_lbl {
    color: #1E1656;
    font-family: myFirstFont, Verdana, Tahoma;

}

p {
    color: transparent
}

.hi {
    color: white
}

.errorMsg {
    color: #ff0000
}
#LoginTitle {
    width: 100%;

    align-content: center
}
#warning {
    color: red;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center

}

#login_btn {
    background-color: #5E6A71;
    border-color: #5E6A71;
    margin-top: 10px;
    float: left
}
#buffer {
    margin: 10px;
}
#ctr {
    padding-left: 0px;
    align-content: center
}

.resize {
    align-content: center
}
.list-group {
   
    padding-right: 0px

}
.list-group-item.active {
    background-color: #1E1656;
    border-color: #1E1656;


}
a:hover {
    color: grey
}

.new-patient {
    color: #1E1656;
    margin-bottom: 50px;
    font-size: 60px;
    text-align: left
}

#create_button {
    background-color: #5E6A71;
    border-color: #5E6A71;
    margin-top: 10px;
    float: right
}

#right {
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;

}

#create_patient {
    background-color: lightgray;

}
a#create_patient:hover {
    background-color: #1E1656;
    color: white
}

#ap_title {
    font-size: 20px;
}