@font-face {
    font-family: myFirstFont;
    src: url('TheSansPlain.ttf') format("truetype")
}

body {
    font-family: myFirstFont, Verdana, Tahoma;
    background-color: #7fb0cd
}

h1.login, h2.login, h2.title {
    color: white;
    margin-top: 40px;
    font-size: 45px
}

p {
    color: transparent
}

.hi {
    color: white
}

.errorMsg {
    color: #ff0000
}
