@model AssignPatientModel

@{
    ViewBag.Title = "Assign Patient";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
        <img align="left" class="resize" src="University_of_Portland_shield.png" width="100px" height="auto"/>
        <h2 align="right" class="title">UP Electronic Health Record</h2>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="col-md-4"></div>

