@model FlowSheetsModel

@{
    ViewBag.Title = "Flow Sheets";
}

<body>


        <div class="row">
             @{ Html.RenderAction("_PatientOverview", "Home"); }

        </div>
        @RenderPage("~/Views/Shared/_NavigationPane.cshtml")
        <div class="col-md-9">
            <p id="tab_title" >@ViewBag.Title</p>
        </div>

        <div id="fs_partialView">@Html.Partial("_FlowSheets", @Model)</div>

    

</body>

