@model FlowSheetsModel

@{
    ViewBag.Title = "Flow Sheets";
}

<body>


        <div class="row">
             @{ Html.RenderAction("_PatientOverview", "Home"); }

        </div>
        @RenderPage("~/Views/Shared/_NavigationPane.cshtml")
        <div class="col-md-9">
            <p id="tab_title" >@ViewBag.Title</p>
        </div>
    <div class="col-md-9">
    <table class="table" style="width:100%">
        <thead>
            <tr>
                <th scope="col">2/27/2018</th>
                <th scope="col">00:00</th>
                <th scope="col">01:00</th>
                <th scope="col">02:00</th>
                <th scope="col">03:00</th>
                <th scope="col">04:00</th>
                <th scope="col">05:00</th>
                <th scope="col">06:00</th>
                <th scope="col">07:00</th>
                <th scope="col">08:00</th>
                <th scope="col">09:00</th>
                <th scope="col">10:00</th>
                <th scope="col">11:00</th>  
                <th scope="col">12:00</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">bp</th>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
          
            </tr>
            <tr>
                <th scope="row">pulse</th>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>            
            </tr>
            <tr>
                <th scope="row">temp</th>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>            
            </tr>
            <tr>
      <th scope="row">respirations</th>
      <td><input type="text"></td>
      <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>            
    </tr>
    <tr>
      <th scope="row">SpO2</th>
      <td><input type="text"></td>
      <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
      <th scope="row">rr</th>
      <td><input type="text"></td>
      <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>            
    </tr>
    <tr>
      <th scope="row">quality</th>
      <td><input type="text"></td>
      <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>            
    </tr>
    <tr>
      <th scope="row">MAP</th>
      <td><input type="text"></td>
      <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>            
    </tr>
    <tr>
      <th scope="row">IV</th>
      <td><input type="text"></td>
      <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>            
    </tr>     
     <tr>
      <th scope="row">Oral Intake</th>
      <td><input type="text"></td>
      <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>            
    </tr>
     <tr>
      <th scope="row">UOP</th>
      <td><input type="text"></td>
      <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
                    <td><input type="text"></td>
    </tr>             
  </tbody>
</table>
</div>
    
    
<!--<div id="left_menu" class="col-md-2">
    <div id="no_padding" class="col-md-12">
        <div id="pad_bottom" class="row"><a id="left_menu" href='@Url.Action("Summary", new { databaseId = @Model.databaseId } )'>Summary</a></div>
        <div id="spacer" class="col-md-12"></div>
        <div id="pad_bottom" class="row"><a id="left_menu" href="FlowSheets">Flow Sheets</a></div>
        <div id="spacer" class="col-md-12"></div>
    </div>
</div>-->
</body>

