@{
    ViewBag.Title = "Login";
}


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
        <img align="left" class="resize" src="University_of_Portland_shield.png" width="100px" height="auto"/>
        <h2 class="title">University of Portland EHR</h2>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="col-md-4"></div>

<div class="col-md-4">
    <p id="loginErr">Invalid Login Credentials</p>
    <form class="form-signin" action='@Url.Action("Login","Home")' method='POST'>
      Username<input class="form-control" name='UserName' />
      Password<input class="form-control" name='Password' type='password' />
      <input class="btn btn-primary" type='submit' onclick="check(this.form)" value='Login' />
    </form>
</div>
<div class="col-md-4"></div>

@section scripts {
    <script type="text/javascript">
        

    </script>
}
