@model SummaryViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" /> 
        <title>Summary</title>
</head>
<body>
        Test
</body>
</html>

