@model SummaryViewModel

@{
    ViewBag.Title = "Summary";
}


<body>Summary Page under construction...</body>

<d>
    @Html.TextAreaFor(model => model.inputData, new { @class = "form-control"})
</d>