@Model Models.SummaryViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Summary</title>
</head>
<body>
        @ViewBag.Message
        <br/>
        @Model.john
</body>
</html>

