<div class="col-md-9">
<table class="table">
    <thead>
        <tr>
            <th>1/2/18</th>
            <th>00:00</th>
            <th>01:00</th>
            <th>02:00</th>
            <th>03:00</th>
            <th>04:00</th>
            <th>05:00</th>
            <th>06:00</th>
            <th>07:00</th>
            <th>08:00</th>
            <th>09:00</th>
            <th>10:00</th>
            <th>11:00</th>
            <th>12:00</th>    
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>bp</td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
        </tr>
        <tr>
            <td>pulse</td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
        </tr>
        <tr>
            <td>temp</td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
        </tr>
        <tr>
            <td>respirations</td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
        </tr>
        <tr>
            <td>Sp02</td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
        </tr>
        <tr>
            <td>rr</td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
        </tr>
        <tr>
            <td>quality</td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
        </tr>
        <tr>
            <td>MAP</td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
        </tr>
        <tr>
            <td>IV</td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
        </tr>
        <tr>
            <td>Oral Intake</td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
        </tr>
        <tr>
            <td>UOP</td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
        </tr>
    </tbody>

</table>
</div>
<div class="col-md-4">
    <input class="btn btn-primary" id="back_btn" type="submit" value="" />
    <input class="btn btn-primary" id="fwd_btn" type="submit" value="" />
</div>