<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
</head>
<body>
    <div id="buffer" class="row">
        <img class="resize" src='@Url.Content("~/Resources/University_of_Portland_shield.png")' alt="Image" width="75px" height="auto"/>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 class="title">@ViewBag.Title</h2>
        </div>
        <div class="col-md-2"></div>
</div>
</body>
</html>
