<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
       
</head>
<body>
	@RenderBody()
    @RenderSection("scripts", required: false)
     
    

</body>
</html>
